<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="PcoOauthKey" value="" />
  <add key="PcoOauthSecret" value="" />
  
  <add key="WebApiOrganization" value="" />
  <add key="WebApiEmail" value="" />
  <add key="WebApiPassword" value="" />
  
  <add key="FilePostUrl" value="" />
  <add key="FilePostKey" value="" />
  <add key="FilePostServiceTypes" value="" />

  <add key="FileProgramPostUrl" value="" />
  
  <add key="AppInsightsKey" value="" />
</appSettings>