@{
    ViewBag.Title = "Veranstaltungen";
}

@model IEnumerable<PcoBase.ServiceType>
<h1>@ViewBag.Title</h1>
<ul>
    @foreach (var item in Model)
    {
        <li>@Html.ActionLink(item.Name, "Index", new { id = item.Id })</li>
    }
</ul>
