.plan-info {
  background: none repeat scroll 0 0 #fafaf9;
  border: 1px solid #C5C5C1;
  border-bottom: none;
  border-radius: 3px 3px 0 0;
  max-width: 1000px;
  padding: 6px 10px;
  clear: both;
}
.plan-info h3,
.plan-info h4 {
  margin: 0;
  margin-bottom: 4px;
}
.plan-info h3 {
  border-bottom: 1px solid #EDEDEE;
  padding-bottom: 6px;
}
.plan-info .time {
  margin-top: 6px;
}
.plan-nav {
  margin-bottom: 10px;
  height: 32px;
}
.plan-nav .previous,
.plan-nav .next {
  float: left;
  height: 16px;
  line-height: 16px;
  width: 10px;
  color: #505050;
  display: inline-block;
  font-size: 11px;
  overflow: hidden;
  padding: 0 8px 0 5px;
  text-transform: lowercase;
  background: #f3f3f3;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #f3f3f3));
  background-image: -webkit-linear-gradient(top, #fafafa, #f3f3f3);
  background-image: -moz-linear-gradient(top, #fafafa, #f3f3f3);
  background-image: -o-linear-gradient(top, #fafafa, #f3f3f3);
  background-image: linear-gradient(top, #fafafa, #f3f3f3);
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  cursor: pointer;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.plan-nav .previous :before,
.plan-nav .next :before,
.plan-nav .previous :after,
.plan-nav .next :after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.plan-nav .icon {
  background: url('pco_sprite.png') no-repeat scroll 0 -91px rgba(0, 0, 0, 0);
  height: 9px;
  left: 2px;
  top: 4px;
  width: 9px;
  display: block;
  float: left;
  margin-right: 4px;
  border: 0 none;
  outline: medium none;
  overflow: hidden;
  position: relative;
  text-indent: -9999em;
}
.plan-nav .previous {
  border-radius: 3px 0 0 3px;
  margin: 8px 0 0 0;
}
.plan-nav .next {
  border-radius: 0 3px 3px 0;
  margin: 8px 0 0 -1px;
}
.plan-nav .next .icon {
  background-position: -11px -91px;
  left: 3px;
}
.plan-nav:after {
  content: '';
  clear: both;
}
table.live {
  width: 100%;
  max-width: 1000px;
  font-size: 12px;
  border: 1px solid #EBEBEB;
}
table.live thead tr {
  height: 32px;
}
table.live th {
  background-color: #aaa;
  text-align: center;
  font-weight: bold;
}
table.live td {
  font-size: 0.9em;
  padding: 4px 5px;
  vertical-align: top;
  border-bottom: 1px solid #EBEBEB;
}
table.live tr:nth-child(2n),
table.live tr.odd {
  background: none repeat scroll 0 0 #FDFDFD;
}
table.live thead th {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 #EBEBE9;
  border-color: #CFCFCF;
  -moz-border-image: none;
  -o-border-image: none;
  -webkit-border-image: none;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  color: #646464;
  font-size: 10px !important;
  line-height: 1.1em;
  padding: 0 5px;
  text-align: left;
  vertical-align: middle;
}
table.live .time {
  text-align: right;
}
table.live .timepoint {
  display: block;
  font-weight: bold;
}
table.live .length {
  font-size: 0.9em;
}
table.live .title {
  font-weight: bold;
  line-height: 16px;
}
table.live .description,
table.live .detail {
  font-size: 0.9em;
  font-style: italic;
}
table.live tr.type-Header {
  background: none repeat scroll 0 0 #AFAFAF;
  color: #FFFFFF;
  -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
table.live tr.type-Header td {
  border-bottom: 1px solid #939393;
  padding-left: 10px;
  font-weight: bold;
}
table.live tr.akteur-band td {
  background-color: #d8ecbf;
}
table.live tr.type-Song td {
  background-color: #c6e2a3;
}
table.live .sequence {
  width: 80px;
  float: left;
  clear: left;
}
table.live .sequence div {
  width: 70px;
  border-radius: 3px 3px 3px 3px;
  padding: 2px 4px 2px;
  margin-bottom: 2px;
  /*font-size: @small-font;*/
  overflow: hidden;
}
table.live .sequence-v,
table.live .sequence-v1 {
  background-color: #add8e6;
}
table.live .sequence-v2 {
  background-color: #adc8e6;
}
table.live .sequence-v3 {
  background-color: #adb8e6;
}
table.live .sequence-v4 {
  background-color: #ada8e6;
}
table.live .sequence-v5 {
  background-color: #ad98e6;
}
table.live .sequence-v6 {
  background-color: #ad88e6;
}
table.live .sequence-v7 {
  background-color: #ad78e6;
}
table.live .sequence-v8 {
  background-color: #ad68e6;
}
table.live .sequence-c,
table.live .sequence-c1 {
  background-color: #fdff0a;
}
table.live .sequence-c2 {
  background-color: #fcb200;
}
table.live .sequence-pc {
  background-color: #ff732c;
}
table.live .sequence-b {
  background-color: #b5ff3a;
}
table.live .sequence-inst,
table.live .sequence-intro,
table.live .sequence-outro {
  background-color: #018700;
}
table.live .type-Song .title {
  margin-bottom: 5px;
}
table.live .type-Song .description,
table.live .type-Song .detail {
  margin-top: -4px;
  margin-bottom: 5px;
}
table.live .type-Song .text {
  margin-left: 100px;
  clear: right;
}
table.live .type-Song .text .part {
  background-color: rgba(237, 237, 237, 0.8);
  margin-bottom: 7px;
  border-radius: 3px 3px 3px 3px;
}
table.live .type-Song .text .seq-label {
  border-radius: 3px 3px 3px 3px;
  padding: 2px 4px 2px;
}
table.live .type-Song .text .content {
  padding: 3px 5px 5px;
}
table.live .type-Song .text ::after {
  content: '';
  clear: both;
}
table.live .action {
  width: 16px;
  height: 16px;
  margin-left: 10px;
  display: inline-block;
  cursor: pointer;
  margin-bottom: -5px;
  top: 2px;
}
table.live .song-toggle {
  background: url('pco_sprite.png') -42px -130px no-repeat;
}
.plan-clock .current-clock,
.plan-clock .to-service-clock,
.plan-clock .in-service-clock {
  text-align: center;
}
.plan-clock .current-clock {
  font-weight: 700;
  font-size: 18px;
  padding: 7px 0;
}
.plan-clock .current-clock.live {
  background-color: #d34f35;
  color: #fff;
}
.live-tag {
  width: 20px;
  position: absolute;
  left: 20px;
  border-radius: 8px 0 0 8px;
  background-color: #d34f35;
}
.live-tag span {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  color: #fff;
  font-size: 10px;
  display: block;
  margin-top: 10px;
  font-weight: bold;
  text-transform: uppercase;
}
.offset-tag {
  width: 20px;
  position: absolute;
  left: 20px;
  border-radius: 8px 0 0 8px;
  background-color: #cccccc;
}
.offset-tag span {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  color: #000;
  font-size: 10px;
  display: block;
  margin-top: 10px;
  font-weight: bold;
  text-transform: uppercase;
}
